<div id="wrapper">
	<div id="header">
		<div id="innerheader">
			<div id="header-image">
			
			</div>
			<div id="main-navigation">
				<ul>
					<li>Home</li>
					<li>Blog</li>
				</ul>
			</div>
		</div>
	</div>
	<div id="content-wrapper">
		<div id="content">
			<div class="left">
			
			</div>
			<div class="right">
			
			</div>
		</div>
	</div>
	<div id="footer">
		
	</div>
</div>