// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html, body {
	font-size: 14px;
	font-family: Arial, sans-serif;
	background: #e3e3e3;
	
}
#innerheader, #content-wrapper {
	width: 768px;
	margin: 0px auto;
	position: relative;
}
#main-navigation ul {
	width: 100%;
	margin: 0px;
	padding: 0px;
	border-top: 1px solid #aeaeae;
	border-bottom: 1px solid #aeaeae;
	background: #cccccc;
}
#main-navigation ul li {
	display: inline-block;
	padding: 0.75em 1.25em;
	font-size: 18px;
	font-weight: bold;
	color: #ffffff;
	background: transparent;
}
#main-navigation ul li:hover {
	background: #d6d6d6;
}
#content {
	background: #ffffff;
	min-height: 300px;
	padding: 15px;
}